
input{
    width: 400px !important;
    height: 35px;
}

label{
    height:35px;
}

:host ::ng-deep .avatar-uploader > .ant-upload {
    width: 119px;
    height: 128px;
  }
  .container{
      display: inline   ;
  }
  .upload{
      float: right;
  }
  select{
      height: 35px;
      width: 400px;
  }
  .form-item{
      float: left;
  }
  .form-label{
      width: 100px;
  }
  .item-name{
    margin-top: 12px;

  }
  .select-skill{
      width: 400px;
  }