<ng-container *ngIf="profile != null">
    <nz-descriptions nzTitle="User Info" nzBordered>
      <nz-descriptions-item nzTitle="Name">{{profile.name}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="SurName">{{profile.surName}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Email">{{profile.email}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Phone Number">
        {{profile.phoneNumber  }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Start work at" [nzSpan]="2">
        {{profile.dateStart | date}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Status" [nzSpan]="3">
        <nz-badge nzStatus="{{profile.status ? 'processing' :'success'}}" nzText="{{profile.status ? 'deleted' : 'Active'}}"></nz-badge>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Address">{{profile.address}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="IdCard">{{profile.idCard}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Readmine">{{profile.readmine}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Skill Info">
        <ng-container *ngFor="let skill of profile.skills" >
          {{skill.name}}
          <br>
        </ng-container>

        
        <!-- Data disk type: MongoDB
        <br />
        Database version: 3.4
        <br />
        Package: dds.mongo.mid
        <br />
        Storage space: 10 GB
        <br />
        Replication_factor:3
        <br />
        Region: East China 1<br /> -->
      </nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
  
<!-- </ng-container> -->
